.map-container-container {
  display: flex;
  margin: auto;
  max-width: 100vw;
  flex-flow: row wrap;
}

#map-container {
  width: 100%;
  max-width: 900px;
  min-width: calc(min(100vw, 600px));
  margin: auto;
  min-height: 600px;
  flex: 1;
}
