/* create stats container with fixed width and light gray background */
#map-stats-container {
    width: 300px;
    background-color: #f8f8f8;
    padding: 4px;
    margin-left: calc(min(2vw, 6px));
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px #ddd;
}
