/* create stats container with fixed width and light gray background */
#map-stats-container {
  width: 460px;
  background-color: #f8f8f8;
  padding: 4px;
  margin-left: calc(min(2vw, 6px));
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px #ddd;
  font-family: Consolas, Monaco, "Roboto Mono", monospace;
}

/* inline class is set when the stats are put inside of the map container */
#map-stats-container.map-stats-container-inline {
  width: 325px;
  background-color: rgba(248, 248, 248, 0.85);
  max-height: 480px;
  overflow-y: auto;
}

/* add a border, bold the values in the second column of the table */
#map-stats-container table tr td:nth-of-type(2) {
  border-left: 1px solid #ddd;
}

/* render missing values in a light orange color in italics */
#map-stats-container .map-stats-missing-value {
  color: #ff8a80;
  font-style: italic;
}

/* render linked values with bolded dark blue font but no underline */
#map-stats-container .map-stats-linked-value {
  color: #0d4069;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

#map-stats-container .map-stats-linked-value:hover {
  color: #2196f3;
  text-decoration: underline;
}

/* render unlinked values with a bolded dark gray font */
#map-stats-container .map-stats-unlinked-value {
  color: #303030;
  font-weight: bold;
}

/* style the control area*/
#map-stats-container #map-stats-controls {
  margin-top: 8px;
}
#map-stats-container #map-stats-controls label:not(:last-of-type) {
  margin-right: 12px;
}
