/* render descriptions with a blockquote blue border on the left and sans-serif font */
.expandable-table-row.row-description td {
  border-left: 4px solid #2196f3;
  padding: 8px;
  background: #d1d1d1;
  line-height: 1.4em;
}

/* render labels with a cursor and highlight in blue on hover to indicate they can be expanded */
.expandable-table-row.row-label > td:nth-child(1):hover {
  cursor: pointer;
  color: #2196f3;
}

/* when not hovered add a very light blue underline */
.expandable-table-row.row-label > td:nth-child(1) > span {
  border-bottom: 1px solid #b8e8ff;
}
